
### Register via Gateway
POST http://localhost:8000/api/v1/identity/register
Content-Type: application/json

{
    "username": "name",
    "email": "gateway@test.com",
    "password": "YOUR_PASSWORD_HERE"
}

### Login and get a Token
POST http://localhost:8000/api/v1/identity/login
Content-Type: application/json

{
    "email": "name",
    "password": "YOUR_PASSWORD_HERE"
}

### create product via gateway

POST http://localhost:8000/api/v1/products
Content-Type: application/json
Authorization: Bearer <TOKEN>

{
    "name": "Margherita",
    "description": "Italian pizza made with tomato sauce, mozzerella cheese, and fresh basil",
    "category": "Pizza",
    "price": 12.00
}

###
POST http://localhost:8000/api/v1/products
Content-Type: application/json
Authorization: Bearer 

{
  "name": "white Sauce pasta",
  "description": "Creamy pasta",
  "price": 20.00,
  "category": "Italian"
}





### Search via Gateway
GET http://localhost:8000/api/v1/search?category=Italian
###
GET http://localhost:8000/api/v1/search?maxPrice=12


### health check
GET http://localhost:8084/health


###

GET http://localhost:8000/api/v1/search?page=1&pageSize=2

### Register customer
POST http://localhost:8000/api/v1/identity/register
Content-Type: application/json

{
    "username": "customer",
    "email": "customer@test.com",
    "password": "1234"
}


### Login and get a Token
POST http://localhost:8000/api/v1/identity/login
Content-Type: application/json

{
    "email": "customer@test.com",
    "password": "1234"
}

###
DELETE http://localhost:8000/api/v1/identity/53164eb1-9f15-440d-9cb4-09efbf0c46a9


###
POST http://localhost:8000/api/v1/orders
Content-Type: application/json
Authorization: Bearer <TOKEN>

{
    "productId": " ",
    "quantity": 1

}

### get order history
GET http://localhost:8000/api/v1/orders
Authorization: Bearer <TOKEN>

###
GET http://localhost:8083/api/v1/orders
Authorization: Bearer <TOKEN>
###
POST http://localhost:8000/api/v1/identity/register
Content-Type: application/json

{
    "username": "admin",
    "email": "admin@foodapp.com",
    "password": "admin123"
}

###